.tutorial {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination button.active {
  border-color: #396cd8;
  background-color: #e8e8e8;
  font-weight: bold;
  color: #396cd8;
}
