@import "allotment/dist/style.css";
@import "@mdxeditor/editor/style.css";
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

/* Bring back headers */
@layer base {
  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }
}